@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-theme-color: #00aefd;
}

.cc__textColor {
  color: var(--my-theme-color);
}

.cc__bgColor {
  background-color: var(--my-theme-color);
}

.cc__borderColor {
  border: solid var(--my-theme-color);
}

.cc__navLink__active {
  color: var(--my-theme-color);
}

a {
  color: var(--my-theme-color);
}
/* a:hover {
  text-decoration: underline;
} */
